# Kafka
KAFKA_BOOTSTRAP_SERVERS=b-1.devmsk.7bokux.c3.kafka.ap-northeast-2.amazonaws.com:9098,b-2.devmsk.7bokux.c3.kafka.ap-northeast-2.amazonaws.com:9098

# SQLite DB가 있는 위치 (RPi 로컬)
DB_BASE_PATH=/mnt/nvme/onlog/test
